.bg-oxford {
    background-color: rgba(42, 42, 42, 0.95);
    background-blend-mode: color-burn;
    background-image: url(/IMG/Textura-brandImpulsso.png);
    background-repeat: no-repeat;

}
.nav-text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: medium;
    color: greenyellow;
}
.WhatDoNWho{
    filter: blur(0.2);
    height: 50em;
}
.bgmain {
    background-image: url(/IMG/Brand-texture.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.8;
}

.logo {
    height: 72px;
}
footer {
    height: 250px;
}
.footer-space{
    background-color: darkgray;

}