body {
    font-family: 'Crimson Pro', serif;
    font-size: 48px;
  }

.bg-oxford {
    background-color: rgba(22, 19, 26, 0.9);
    background-blend-mode: color-burn;
    background-image: url(/IMG/Textura-brandImpulsso.png);
    background-repeat: no-repeat;

}
.nav-text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: medium;
    color: white;
}

.nav-text a{
    text-decoration: none;
    color: white;
}

.nav-text-right :hover{
    color: rgb(127, 179, 22);
}
.nav-text-left :hover{
    color: orange;
}

.active a{
    text-decoration: none;
    color: gold;
}
.WhatDoNWho{
    filter: blur(0.2);
    height: 40em;
}
.bgmain {
    background-image: url(/IMG/Brand-texture.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.logo {
    height: 72px;
}
