.bg-oxford {
    background-color: rgba(42, 42, 42, 0.9);
    background-blend-mode: color-burn;
}

.bgmain {
    background-image: url(/IMG/Brand-texture.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.8;
}

.logo {
    height: 72px;
}